@{
    ViewBag.Title = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans+Condensed:300" rel="stylesheet">


<div class="jumbotron">
    <img src="https://doit.tamu.edu/wp-content/uploads/2015/03/doittamu-logo1.png" />
    <br />
    <img src="http://doit.tamu.edu/wp-content/uploads/2015/03/tamulogo-1.png" />
    <p class="border"></p>
    <p class="text">This is a beta project for the mangement of the Texas A&M Division of Student Affairs IT.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="explanation">
            Click on the button below to view checkout requests. New checkouts can be made when a user requests, and checkouts can be deleted when a user returns equipment. Checkout requests can be editted at any time, should the user change their mind on something. Equipment numbers should be noted.
        </p>
        <p><a class="btn" href="/Equipments"><b>View Checkout Requests &raquo;</b></a></p>
    </div>
</div>